<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Titanic Dashboard and Predictions</title>
    <meta name="description" content="Dashboard vs Predictions.">
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/static/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
    <link rel="stylesheet" href="/static/assets/css/Team-Boxed.css">
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="/">White Star Line</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="/challenge">Challenge</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="team-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">The Creator &amp; Why</h2>
                <p class="text-center">This site was created to show the difference between a dashboard and a machine learning model</p>
            </div>
            <div class="row people">
                <div class="col"></div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="/static/assets/img/rich.jpg">
                        <h3 class="name">Richard Farr</h3>
                        <p class="title">Full Stack Data Scientist</p>
                        <p class="description">One step closing to becoming a full stack data scientist.</p>
                        <div class="social"><a href="#"></a><a href="https://www.linkedin.com/in/richardfarr7/"><i class="fa fa-linkedin"></i></a><a href="#"></a></div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </section>

    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/smart-forms.min.js"></script>
</body>
</html>