<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Titanic</title>
    <!-- Load plotly.js into the DOM -->
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
</head>
<body>
    {% csrf_token %}
    <div id="app">
        <h1>Titanic Passengers</h1>
       
	    <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>



        <ul>
            <li v-for="passenger in passengers">
                <h3>id - [[ passenger.id ]]</h3>
                <p>Age - [[ passenger.Age ]]</p>
                <p>Sex - [[ passenger.Sex ]]</p>
            </li>
        </ul>

    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script>
    const vm = new Vue({
        el: '#app',
        delimiters: ['[[',']]'],
        data: {
            passengers: [],
            csrf_token: "",
        },
        methods: {
            loadPassengers: function() {
                axios({
                    method: 'get',
                    url: '/apis/v1/'
                }).then(response => {
                    this.passengers = response.data
                })
            },

        },
        created: function() {
            this.loadPassengers()
        },
        mounted: function() {
            this.csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value
        }
    })
    </script>


    <script>

        var trace1 = {
        x: ['First Class', 'Second Class', 'Third Class'],
        y: [20, 14, 23],
        name: 'SF Zoo',
        type: 'bar'
        };

        var trace2 = {
        x: ['First Class', 'Second Class', 'Third Class'],
        y: [12, 18, 29],
        name: 'LA Zoo',
        type: 'bar'
        };

        var data = [trace1, trace2];

        var layout = {barmode: 'stack'};

        Plotly.newPlot('myDiv', data, layout, {responsive: true});



    </script>
</body>
</html>