<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Titanic</title>
    <!-- Load plotly.js into the DOM -->
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
</head>
<body>
    {% csrf_token %}
    <div id="app">
        <h1>Titanic Passengers</h1>
       
	    <div id='byClass'><!-- Plotly chart will be drawn inside this DIV --></div>



        <ul>
            <li v-for="passenger in passengers">
                <h3>id - [[ passenger.id ]]</h3>
                <p>Age - [[ passenger.Age ]]</p>
                <p>Sex - [[ passenger.Sex ]]</p>
            </li>
        </ul>

    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script>
    const vm = new Vue({
        el: '#app',
        delimiters: ['[[',']]'],
        data: {
            passengers: [],
            csrf_token: "",
        },
        methods: {
            loadPassengers: function() {
                axios({
                    method: 'get',
                    url: '/apis/v1/'
                }).then(response => {
                    this.passengers = response.data
                    this.drawCharts();
                })
            
            },
            drawCharts: function() {
                var classLived = {
                x: ['First Class', 'Second Class', 'Third Class'],
                y: [this.passengers.filter(passenger=>passenger.Passenger_Class === "First")
                    .filter(passenger=>passenger.Survived === "Lived").length, 

                    this.passengers.filter(passenger=>passenger.Passenger_Class === "Second")
                    .filter(passenger=>passenger.Survived === "Lived").length, 

                    this.passengers.filter(passenger=>passenger.Passenger_Class === "Third")
                    .filter(passenger=>passenger.Survived === "Lived").length,
                    
                    ],
                name: 'Survived',
                type: 'bar'
                };

                var classPerished = {
                x: ['First Class', 'Second Class', 'Third Class'],
                y: [this.passengers.filter(passenger=>passenger.Passenger_Class === "First")
                    .filter(passenger=>passenger.Survived === "Perished").length, 

                    this.passengers.filter(passenger=>passenger.Passenger_Class === "Second")
                    .filter(passenger=>passenger.Survived === "Perished").length, 

                    this.passengers.filter(passenger=>passenger.Passenger_Class === "Third")
                    .filter(passenger=>passenger.Survived === "Perished").length,
                    
                    ],
                name: 'Perished',
                type: 'bar'
                };

                var data = [classLived, classPerished];

                var layout = {barmode: 'stack'};

                Plotly.newPlot('byClass', data, layout, {responsive: true});
                
            }
        },
        watch: { 
            passengers: function() {
                this.drawCharts();
            }
        },

        created: function() {
            this.loadPassengers()
        },
        mounted: function() {
            this.csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value
            
        }
    })
 

        



    </script>
</body>
</html>